/**
 * @author Michael Sypolt <msypolt@transitguru.limited>
 * Styling for TransitGuru Limited website
 *
 *
 */

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video,
input, textarea, select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Background */

html {height: 100%}
body {font-family: "Liberation Sans", Sans; background-color: #999999;}

/* vanilla framework */
ul li{margin-left: 1.5em;}
input {width: 30em; border: 1px solid grey; border-radius: 4px; padding: 2px;}
input[type="checkbox"], input[type="radio"] {width: 1em;}
input[type="submit"], input[type="button"] {width: auto; margin: 4px;}

textarea {width: 90%; min-height: 10em; border-radius: 4px; border: 1px solid grey;}

.adminmenu li{ display: inline; padding: 5px; list-style: none; border-radius: 5px; background-color: #559900;}
.adminmenu li a {color: #ffffff;}
.adminmenu li:hover, .adminmenu li.current {background-color: #333333;}

.button {background-color: #333333; color: #ffffff; padding: 5px; margin: 5px; border-radius: 5px; border: none; cursor: pointer; font-size: inherit;}
.button:hover {background-color: #999999;}

.alert {background-color: #990000}
.alert:hover {background-color: #ff0000;}

.container a{
  text-decoration: none;
}

.container {
  width: 1000px;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
}

.right { float:right;}
.left { float:left;}
.clear { clear:both;}
.disabled {color: #aaaaaa; }

.hide {display: none}


.error {
  background-color: #ff9999;
  border: 1px dotted #990000;
  padding: 2px;
}
.warning {
  background-color: #ffff99;
  border: 1px dotted #999900;
  padding: 2px;
}
.success {
  background-color: #99ff99;
  border: 1px dotted #009900;
  padding: 2px;
}

label {
  display: block;
  font-style: italic;
}

label strong {
  color: #ff3300;
}

fieldset.choices label{
  display: inline;
}

.required {
  border: 2px solid black;
}

.invalid {
  border-color: #ff3300;
}

.hand {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {clear: both}

figure {font-family: "Liberation Sans Narrow", "Arial Narrow", Sans; font-style: italic;}
figure img {max-width: 500px;display: block; padding: 4px}

.copy {color: #ffffff; font-family: "Liberation Sans Narrow", "Arial Narrow", Sans;}
.credit {color: #ffffff; float: right; font-family: "Liberation Sans Narrow", "Arial Narrow", Sans;}
.credit a {color: #ffffff; font-weight: bold;}

/* calendar */
.calendar {background-color: #ffff99; width: 200px; padding: 10px; border-radius: 10px; border: 1px solid #000000}
.calendar table {width: 100%; background-color:#666666}
.calendar td, .calendar th {text-align: center}
.calendar button {border: 1px solid #888888; background-color: #ffff66;font-size: 10px; border-radius: 4px}
.othermonth {background-color: #aaaaaa;}
.startpoint {background-color: #ffff99;}
.today {background-color: #ff0000; font-weight: bold; color: #ffffff}
.calendar .hand:hover {background-color: #ffff00; font-weight: bold;}
.inactive {color: #dddddd; font-weight: normal;}
.othermonth a {font-weight: normal; font-color: #999999}
.currentmonth {}

/* Dialogue boxes*/
.inner  {padding: 10px}
.dialogue {
  z-index: 9;
  position:fixed;
  top: 10%;
  min-width:400px;
  min-height:200px;
  margin-left:auto;
  margin-right:auto;
  padding: 10px;
  overflow: auto;
  background-color: #ffffff;
  max-width:90% !important;
  max-height:80%  !important;
  opacity: 1;
  border: 2px solid #000000;
}
.dialoguebg{
  z-index: 8;
  position:fixed;
  top: 0px;
  left: 0px;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.5;
  background-color: #777777;
}



