<?php

/**
 * coreSettings Class
 * 
 * This object loads default site settings
 *
 * @category Request Handling
 * @package LibreWebTools
 * @author Michael Sypolt <msypolt@transitguru.limited>
 * @copyright Copyright (c) 2014
 * @license http://www.gnu.org/licenses/gpl-3.0.txt
 * @version Release: @package_version@
 */
class coreSettings{
  public $db = array(
    'host' => 'localhost',       /**< The host for the database connection */
    'type' => 'mysql',           /**< Type of database */
    'name' => 'librewebtools',   /**< The database name for the application's data */
    'user' => 'lwt',             /**< The username for the application's database user */
    'pass' => 'LibreW38t00ls',   /**< The password for the application's database user (It is recommended to change this from the default!!! */
    'port' => 3306,              /**< The port for the database connection */
  );
}
