<?php
namespace LWT;
/**
 * @file
 * Settings Class
 *
 * This object loads default site settings
 *
 * @category Configuration
 * @package LibreWebTools
 * @author Michael Sypolt <msypolt@transitguru.limited>
 * @copyright Copyright (c) 2015-2019
 * @license http://www.gnu.org/licenses/gpl-3.0.txt
 * @version Release: @package_version@
 *
 * For null or non-applicable values, you may enter null or safely omit
 * them from the object.
 */
class Settings{
  public $db = null;        /*< DB Settings object for production environment */
  public $sandbox = null;   /*< DB Settings object to define testing databases */

  /**
   * Creates the database settings object
   */
  public function __construct(){
    $this->db = (object)[
      'host' => 'localhost',        /**< Host for Database connection (mysql or pgsql) */
      'type' => 'mysql',            /**< Type of database (sqlite3, mysql, or pgsql) */
      'name' => 'librewebtools',    /**< Name for application's database or filename (sqlite3) */
      'user' => 'librewebtools',    /**< Username for application (don't use root!) */
      'pass' => 'somesillystring',  /**< Password for the application (change this!!!) */
      'port' => null,               /**< Port for the application (null uses defaults) */
    ];

    $this->sandbox = (object)[
      'mysql' => (object)[
        'host' => 'localhost',
        'type' => 'mysql',
        'name' => 'sandboxdb',
        'user' => 'sandboxuser',
        'pass' => 'sandboxpass',
        'port' => 3306,
      ],
      'pgsql' => (object)[
        'host' => 'localhost',
        'type' => 'pgsql',
        'name' => 'sandboxdb',
        'user' => 'sandboxuser',
        'pass' => 'sandboxpass',
        'port' => 5432,
      ],
      'sqlite' => (object)[
        'host' => null,
        'type' => 'sqlite',
        'name' => DOC_ROOT . '/path/to/db_file.db',
        'user' => null,
        'pass' => null,
        'port' => null,
      ],
    ];
  }
}

